In [6]:
#necessary libraries 
import pandas as pd
import numpy as np
import random
from faker import Faker
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cross_validation import train_test_split  
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_score, StratifiedKFold, KFold
from sklearn.pipeline import make_pipeline
from IPython.display import Image 
from sklearn.preprocessing import StandardScaler
import seaborn as sns
fake=Faker()

/anaconda/envs/kestrel/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/anaconda/envs/kestrel/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [7]:
# DataFrame LZ 
software_usage = pd.read_csv("/Users/Jordan/Desktop/Scalable/scalable_data_assests/Summary of Software Product Usage_values.csv")
names= pd.read_csv("/Users/Jordan/Desktop/Scalable/RandoList.csv")
#dropping from both DF
j =names.Full_Name[0:1000].values
drop_col = ['Distinct Users','Devices', 'Metered Devices', 'Used Devices', 'Unused Devices','Cost', 'Cost of Used Software','Potential Cost of Unused Software']

software_usage= software_usage.drop(drop_col,1)


software_usage.dropna()

software_usage.Publisher=software_usage.Publisher.astype(str)

With this demonostartion, I outlined how I could inititate packaged Fakker, create my Own Provider, introduce my own corpus from a generated list, and add randomness to that list without losing seed info!

Now, if I could just figure out how to create a profile and stack definitions...

In [8]:
# creating profile attributes 

software_usage['P_N'] = software_usage[['Publisher', 'Name']].apply(lambda x: ' '.join(x), axis=1)

In [9]:
from faker.providers import BaseProvider

#new provider class
class Myprovider(BaseProvider):        
    def names(self,x):
        #change state for list change
        random.seed(a=432)
        x = random.sample(j,x)
        return x 
    #prints desired number of random products 
    def software_names(self,x):
        random.seed(a=412)
        x = random.sample(software_usage["P_N"],x)
        return x
    

    
#adds    
fake.add_provider(Myprovider)

print "Rando names = " ,fake.names(5)
print "Rando software names = " ,fake.software_names(3)

Rando names =  ['Stormie Knapp', 'Ahmet Stewart', 'Mora Weber', 'Cassy Griffin', 'Meg Baxter']
Rando software names =  ['Microsoft Corporation SQL Server Browser', 'AMD Catalyst Control Center - Branding', 'Microsoft Corporation Windows Live Essentials']

In [53]:
#makes DataFrame with one of each element from list
def fakey(n,s,sa):
    df1=[]
    df2=[]
    df3 = []
    n1 = fake.names(n)
    s1 = fake.software_names(s)
    s2 = fake.software_names(sa)
    for i in n1:
        df1.append(i)
    for i in s1:
        df2.append(i)
    for i in s2:
        df3.append(i)    
    mas_list = pd.DataFrame({'Name': df1})
    mas_list2 = pd.DataFrame({'Product':df2})
    mas_list3 = pd.DataFrame({'Product 2':df3})
    return pd.concat([mas_list,mas_list2,mas_list3], axis =1)

In [60]:
fakey(10,9,8)

,Name,Product,Product 2
0,Stormie Knapp,Microsoft Corporation SQL Server Browser,Microsoft Corporation SQL Server Browser
1,Ahmet Stewart,AMD Catalyst Control Center - Branding,AMD Catalyst Control Center - Branding
2,Mora Weber,Microsoft Corporation Windows Live Essentials,Microsoft Corporation Windows Live Essentials
3,Cassy Griffin,Audacity Team Audacity,Audacity Team Audacity
4,Meg Baxter,Microsoft Corporation Shared MUI,Microsoft Corporation Shared MUI
5,Quinn Jimenez,Adobe Systems Inc. Acrobat Reader,Adobe Systems Inc. Acrobat Reader
6,Theodoric Hodges,Google Inc. Google Chrome,Google Inc. Google Chrome
7,Win Walls,ATI Technologies Inc. Display Drivers,ATI Technologies Inc. Display Drivers
8,Wendie Dejesus,Microsoft Corporation Windows XP Professional,NaN
9,Jori Ferrell,NaN,NaN

In [57]:
#makes individual members environments randomly generated sets
def faker(n,s):
    df1=[]
    df2=[]
    n1 = fake.names(n)
    s1 = fake.software_names(s)
    for i in n1:
        df1.append(i)
    for i in s1:
        df2.append(i)
    mas_list = pd.DataFrame({'Name': df1})
    mas_list2 = pd.DataFrame({'Product':df2})
    return pd.concat([mas_list,mas_list2], axis =1)

In [59]:
faker(33,6)

                Name                                        Product
0      Stormie Knapp       Microsoft Corporation SQL Server Browser
1      Ahmet Stewart         AMD Catalyst Control Center - Branding
2         Mora Weber  Microsoft Corporation Windows Live Essentials
3      Cassy Griffin                         Audacity Team Audacity
4         Meg Baxter               Microsoft Corporation Shared MUI
5      Quinn Jimenez              Adobe Systems Inc. Acrobat Reader
6   Theodoric Hodges                                            NaN
7          Win Walls                                            NaN
8     Wendie Dejesus                                            NaN
9       Jori Ferrell                                            NaN
10  Modestia Meadows                                            NaN
11    Arabele Dunlap                                            NaN
12      Errol Palmer                                            NaN
13  Ginnifer Herring                                            NaN
14      Othello Dyer                                            NaN
15      Storey Brock                                            NaN
16    Andria Skinner                                            NaN
17     Layne Jimenez                                            NaN
18       Sibelle Key                                            NaN
19     Trixie Franco                                            NaN
20       Alvin Patel                                            NaN
21     Lyndy Hancock                                            NaN
22    Marwin Hopkins                                            NaN
23     Wittie Morris                                            NaN
24        Tedra Lang                                            NaN
25  Annalena Garrett                                            NaN
26      Clarine Todd                                            NaN
27   Ninetta Pearson                                            NaN
28       Viola Beard                                            NaN
29      Dana Carroll                                            NaN
30   Rennie Lawrence                                            NaN
31    Caitlin Spears                                            NaN
32     Justine Haney                                            NaN

In [ ]:
def faker(n,s):
    df1=[]
    df2=[]
    n1 = fake.names(n)
    s1 = fake.software_names(s)
    for i in n1:
        df1.append(i)
    for i in s1:
        df2.append(i)
    mas_list = pd.DataFrame({'Name': df1})
    mas_list2 = pd.DataFrame({'Product':df2})
    return pd.concat([mas_list,mas_list2], axis =1)